doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='https://cdn.socket.io/socket.io-1.0.0.js')
    link(rel='stylesheet' href='../css/style.css')
    link(rel='stylesheet' href='../css/jarstyle.css')
    link(rel='stylesheet' href='/leaflet/leaflet.css')
    script(src='/leaflet/leaflet.js')
    script(src='http://code.jquery.com/jquery.js')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js')
    
    //script(src='/js/main.js')
    script(src='/js/viewjar.js')

    style.
      body{
      min-height: 800px;
      }

    
    script(type='text/javascript').
      theJar = !{jar}
      
      test = "test"

  body
  .col-md-4.view_jar
    h1 #{(JSON.parse(jar)).title}
    h3 #{(JSON.parse(jar)).dateAdded.slice(0,10)}
    .contents

      //#{(JSON.parse(jar)).notes[0]}

    
    -if(filetype.indexOf('image')> -1)
      p #{filetype}

      img.jar-image(src='#{(JSON.parse(jar)).url}')
    -else if(filetype.indexOf('video')> -1)
      p #{filetype}

    ul
      
      li
        | Tags: 
        span.tags
      li
        | Tags: 
        span.owner
      
    button.btn-primary.addNote(type='button') Add Note
    button.btn-primary(type='button') Appreciate

    .col-md-4.addNoteForm(style="display:none")
        
        form#addNoteForm.form-horizontal
          .form-group
            label.col-sm-2.control-label(for='title') Name
            .col-sm-10
              input#title.form-control(type='text', placeholder='Name', name='title', required='')
          
          .form-group
            label.col-sm-2.control-label(for='url') URL
            .col-sm-10
              input#url.form-control(type='text', placeholder='skip for attachments', name='url')


          input#file_input(type='file')
          p#status Please select a file
          img#preview(style='border:1px solid gray;width:200px;', src='/images/default.png')
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default(type='submit') Submit

      
        
     

      


   
    
